.page-index {
    background: rgb(179, 1, 106);
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:3.2rem 12rem;
    flex-wrap:wrap;


    @include mq(desktop, max) {
        padding:3.2rem 8rem;
    }

    @include mq(tablet, max) {
        padding:3.2rem 4rem;
    }

    @include mq(phone, max) {
        padding:3.2rem 2rem;
    }

    div {
        h2,p {
            display: inline-block;
            color:#FFF;
            @extend %reset;
            
        }

      

        h2 {
            font-weight: 700;
         

        
        }

        p {
            font-size:1.2rem;
            padding-left:0.3rem;
        }
    }
    
    a{margin-top:0.5rem;}
}

.history {

    padding:0 12rem;
    color: rgb(95, 95, 95);

    @include mq(desktop, max) {
        padding:0 8rem;
    }

    @include mq(tablet, max) {
        padding:0 4rem;
    }

    @include mq(phone, max) {
        padding:0 2rem;
    }

    h2 {
        font-weight:bold;
        @extend %reset;
        padding:5rem 0 1.5rem 0;
    }

    p {
        padding-bottom:4rem;
    }


    img {
        display: block;
        text-align: center;
        margin:0 auto;
        padding-bottom:8rem;

        @include mq (tablet-small ,max) {
            max-width:100%;
            height:auto;

        }
    }
}

/* STAFF SECTION */

.staff {
    background: linear-gradient(rgba(black, 0.8), rgba(black, 0.8)), url("../images/background2.jpg");
    background-size: cover;
    background-position: 50% 10%;
    background-repeat: no-repeat;
    color: #FFF;
    text-align: center;
    position: relative;
  
  

    .members {
        display: grid;
        grid-template-columns: repeat(4, 19rem);
        grid-gap: 2rem;
        justify-content: center;
        align-items: center;

        @include mq(desktop, max) {
            grid-template-columns: repeat(2, 19rem);
            grid-gap:3rem;
        }
    
        @include mq(tablet-small, max) {
            grid-template-columns: repeat(1, 19rem);
        }
        
        overflow: hidden;
    }

    h2 {
        color: #FFF;
        font-size:2.5rem;
    }

    article {
        background: #FFF;
        color: rgb(95, 95, 95);
        margin-bottom: 5rem;

        @include mq(desktop, max) {
            margin-bottom:0rem;

            &:nth-child(3),
            &:nth-child(4) {
                margin-bottom:5rem;
            }

        }

        @include mq(tablet-small, max) {
            margin-bottom:0rem;

            &:nth-child(3) {margin:0}
            &:nth-child(4) {
                margin-bottom:5rem;
            }

        }
        div {
            text-align: left;
            padding: 1.5rem;
        }
    }

    h4 {
        @extend %reset;

        font-size: 1.2rem;
        font-weight: bold;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.job {
    font-style: italic;
    padding-bottom: 1.5rem;
}

.heading {
    padding: 3rem 14rem;

    @include mq(Screen1, max) {
        padding:3rem 5rem;
    }

    @include mq(phablet, max) {
        padding:3rem 2rem;
    }

    h2 {
        @extend %reset;

        padding: 2.5rem 0;
        font-weight: 700;
    }

    p {
        padding-bottom: 2rem;
    }
}


/* PERKS SECTION */

.perks {
    background: rgb(179, 1, 106);
    color:#FFF;
    display:flex;
    flex-wrap:wrap;
    
    justify-content: space-evenly;
    padding:4.5rem 5rem;
    
    align-items: center;
    

    article {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:1rem;

   
    }
}

.numbers {
    font-weight:bold;
    font-size:2.2rem;
    padding-top:1rem;
}


