.form {
    text-align: center;
    padding:4rem 0rem 24rem 0rem;
    color:rgb(85,85,85);
    background:rgb(251, 248, 251);

    @include mq(tablet-small,max) {
        padding:4rem 0rem 33rem 0rem;
    }


    a {
        background:rgb(232, 4, 139);
        margin-left:32vw;
        font-weight: bold;
        text-decoration: none;
        color:#FFF;
        padding:0.8rem 2.7rem;
        border-radius:0.2rem;
        text-transform: uppercase;
        &:hover {
            background:rgb(179, 1, 106);
        }
    }
    
    h2{
        font-weight: 700;
        @extend %reset;
        padding-bottom:1.5rem;

    }

    label {
        display:block;
        text-align: left;
    }
    

    input {
        width:17rem;
        padding:0.4rem 2.5rem 0.4rem 0.3rem;
        border:1px solid rgb(226, 226, 226);
   
        @include mq(tablet,max) {
            width:100%;
        }
      
        
    }

    textarea {
        width:25rem;
        resize: none;
        width:100%;
        padding:0 0 1.5rem 0.3rem;
        overflow: auto;
        border:1px solid rgb(226, 226, 226);
        
        @include mq(tablet,max) {
            padding:0 0 0.5rem 0rem
        }
    }   
}


@media screen and (max-width:500px) {
    .form textarea {
        width:26rem;
    }
}

.contact-form  {
    display:flex;
    justify-content: center;
    color:#5F5F5F;
    padding-top:5rem;
    align-items:  flex-start;
    margin-bottom:2.5rem;

    @include mq(tablet,max) {
        flex-direction: column;
        align-items:  center;
    }
}

.left-form {
    padding-right:2.5rem;
    align-items:  center;
    height:100%;
    
    @include mq(tablet,max) {
       padding-right:0;
       width:26rem;
    }
    
    label {
        padding:0.5rem 0;

        &:nth-child(1) {
            padding:0;
        }
       
    }
}

.forms {
    padding:0 5rem;
}