.location {
    display: flex;
    background: rgb(179, 1, 106);
    color: #FFF;
    justify-content: space-evenly;
    align-items: center;
    padding: 2.5rem 3rem;

    @include mq(tablet-wide, max) {
        flex-wrap:wrap;
        padding: 2.5rem 9rem;

        a {
            margin-top:1rem;
            text-align: center;
        }
    }

    @include mq(Screen1, max) {
       
        article {
            margin: 0.5rem;
           
        }
    }

    @include mq(tablet, max) {
        flex-direction:column;

       
        
        article {
            padding-bottom:2.5rem;
            
        }
    }
  
    article {
        display: flex;
        align-items: center;
        justify-content: center;

        @include mq(tablet, max) {
            flex-direction: column;
            text-align: center;
        }

    }

    span {
        display: block;

        &:nth-child(2) {
            font-weight: bold;
        }
    }

    img {
        font-size: 3rem;
        margin-right: 1.5rem;

        @include mq(tablet, max) {
           margin:0;
        }
    }
}


/* ABOUT SECTION */

.about-us {
    display: flex;
    justify-content: center;
    background: rgb(251, 248, 251);
    padding: 4rem 11rem;

    @include mq(desktop,max) {
        padding:4rem 5rem;
    }

    @include mq(Screen3,max) {
        padding:4rem 1rem;
    }

    @include mq(tablet-wide,max) {
        display:block;
        padding: 4rem 4rem;
    }

    @include mq(phone,max) { 
        padding:4rem 1rem;
     }
    h2 {
        font-weight: 700;

        @extend %reset;

        padding-bottom: 2rem;
    }
}

.text-side,
.img-side {
    flex-basis: 50%;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
}

.text-side {
    padding: 2rem 2rem;
    color: rgb(95, 95, 95);

    p {
        padding-bottom: 5rem;
    }
}

.img-side {
    display: grid;
    grid-template-columns: 19rem 19rem;
    grid-gap: 2rem;
    padding-top: 4rem;

    @include mq(tablet,max) { 

        grid-template-columns:15rem 15rem;
      
    }

    @include mq(phone,max) { 

        grid-template-columns:15rem;
      
    }

    img {
        width: 100%;
        height: auto;
    }
}

/* SPECIAL OFFER SECTION */

.special {
    background: linear-gradient(rgba(black, 0.8), rgba(black, 0.8)), url("../images/background1.jpg");
    padding-top: 27rem;
    background-position: 80% 40%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    div {
        @extend %position;

        color: #FFF;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    p {
        font-size: 2.2rem;
        font-weight: bold;

        @include mq ( tablet ,max) {
            font-size:1rem;
            padding:0 1.2rem;
            text-align: center;
        }

        &:nth-child(1) span {
            font-weight: 700;
            font-size: 3.5rem;
        }

        &:nth-child(2) span {
            font-size: 1.7rem;
            font-weight: normal;
        }

        &:nth-child(2) span:nth-child(2) {
            font-size: 1.2rem;
        }
    }

    a {
        margin-top: 1.8rem;
    }
}

/* OUR SERVICES SECTION */

.services {
    text-align: center;
    color: rgb(95, 95, 95);
    padding: 0 10rem;
    background: rgb(251, 248, 251);
    padding-bottom:2rem;

    @include mq(tablet-wide, max) { 

        padding:0 5rem;
    }

    @include mq(tablet, max) { 

        padding:0 10rem;
    }

    @include mq(tablet-small, max) { 

        padding:0 7rem;
    }

    @include mq(phablet, max) { 

        padding:0 5rem;
    }
    
    @include mq(phone, max) { 

        padding:0 2rem;
    }

    h2 {
        font-weight: 700;
        padding-bottom: 0;
        @extend %reset;
        padding:5.5rem 0 1.5rem 0;
    }

    .service-buttons {
        padding: 3rem 0;
        
        @include mq (phablet, max) {
            display:flex;
            flex-direction: column;
        }

        a {
            margin: 0 0.5rem;

            @include mq (phablet, max) { 
                margin:0.5rem 0;
            }

            &:nth-child(1) {
                padding: 1rem 1.5rem;
            }

            &:nth-child(2) {
                padding: 1rem 2.5rem;
        
            }

            &:nth-child(2):hover {
                border:2px solid black;
                color:black;
            }
        }
    }
}

.services-by {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    padding-top: 4.5rem;
    grid-gap: 2rem;
    justify-content: center;

    @include mq(desktop, max) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mq(tablet, max) {
        grid-template-columns: 1fr;
    }
    article {
        background: #FFF;
        border: 1px solid rgb(226, 226, 226);
        padding: 2rem;
        border-radius: 0.2rem;

        img {
            border-radius: 50%;
        }
    }

    h4 {
        font-weight: bold;

        @extend %reset;

        padding: 1.5rem 0 1rem 0;
    }

    p {
        padding-bottom: 2rem;
    }
}

/* STAFF SECTION */

.staff {
    background: linear-gradient(rgba(black, 0.8), rgba(black, 0.8)), url("../images/background2.jpg");
    background-size: cover;
    background-position: 50% 10%;
    background-repeat: no-repeat;
    color: #FFF;
    text-align: center;
    position: relative;
  
  

    .members {
        display: grid;
        grid-template-columns: repeat(4, 19rem);
        grid-gap: 2rem;
        justify-content: center;
        align-items: center;

        @include mq(desktop, max) {
            grid-template-columns: repeat(2, 19rem);
            grid-gap:3rem;
        }
    
        @include mq(tablet-small, max) {
            grid-template-columns: repeat(1, 19rem);
        }
        
        overflow: hidden;
    }

    h2 {
        color: #FFF;
    }

    article {
        background: #FFF;
        color: rgb(95, 95, 95);
        margin-bottom: 5rem;

        @include mq(desktop, max) {
            margin-bottom:0rem;

            &:nth-child(3),
            &:nth-child(4) {
                margin-bottom:5rem;
            }

        }

        @include mq(tablet-small, max) {
            margin-bottom:0rem;

            &:nth-child(3) {margin:0}
            &:nth-child(4) {
                margin-bottom:5rem;
            }

        }
        div {
            text-align: left;
            padding: 1.5rem;
        }
    }

    h4 {
        @extend %reset;

        font-size: 1.2rem;
        font-weight: bold;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.job {
    font-style: italic;
    padding-bottom: 1.5rem;
}

.heading {
    padding: 3rem 14rem;

    @include mq(Screen1, max) {
        padding:3rem 5rem;
    }

    @include mq(phablet, max) {
        padding:3rem 2rem;
    }

    h2 {
        @extend %reset;

        padding: 2.5rem 0;
        font-weight: 700;
    }

    p {
        padding-bottom: 2rem;
    }
}

/* GALLERY SECTION */

.gallery {
    text-align: center;
    padding: 0 10rem;
    padding-bottom: 5rem;
    color: rgb(95, 95, 95);

    @include mq(tablet, max) {
        padding: 0 5rem;
    }
 
    @include mq(phone, max) {
        padding: 0 2rem;
    }
 

    h2 {
        @extend %reset;

        margin-top: 4rem;
        padding: 2rem 0;
        font-weight: 700;
    }
}

.img-gallery {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 19.5rem);
    grid-template-rows: repeat(2, 19.5rem);
    grid-gap: 2rem;
    justify-content: center;

    @include mq(desktop, max) {
        grid-template-columns: repeat(4, 15.5rem);
        grid-template-rows: repeat(2, 15.5rem);
    }

    @include mq(tablet-wide, max) {
        grid-template-columns: repeat(4, 10.5rem);
        grid-template-rows: repeat(2, 10.5rem);
    }

    @include mq(tablet, max) {
        grid-template-columns: repeat(4, 8.5rem);
        grid-template-rows: repeat(2, 8.5rem);
        padding-bottom:5rem;
    }
    @include mq(tablet-small, max) {
        grid-template-columns: repeat(2, 8.5rem);
        grid-template-rows: repeat(4, 8.5rem);
    }

    article:nth-child(1) {
        grid-column: 1 / span 2;
        grid-row: 1 /span 2;
        background: url("../images/gallery1.jpg") no-repeat;
        background-size: cover;
        transition: opacity 0.3s ease-in-out;
        opacity:1;
      
        @include mq(tablet, max) {
          background-position: 20% 20%;
        }
    
    
    }

    article:nth-child(1):hover {
        opacity: 0.7;
        
    }

    article:nth-child(2) {
        grid-column: 3 /4;
        background: url("../images/gallery2.jpg") no-repeat;
        background-size: cover;
        transition: opacity 0.3s ease-in-out;
        opacity:1;

        @include mq(tablet-small, max) {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
    
        
    }

    article:nth-child(2):hover {
        opacity: 0.7;
 
    }

    article:nth-child(3) {
        grid-column: 4 /5;
        background: url("../images/gallery3.jpg") no-repeat;
        background-size: cover;
        transition: opacity 0.3s ease-in-out;
        opacity:1;

        @include mq(tablet-small, max) {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
        }
       
    }

    article:nth-child(3):hover {
        opacity: 0.7;
     
    }

    article:nth-child(4) {
        grid-column: 3 / span 2;
        grid-row-start: 2;
        background: url("../images/gallery4.jpg") no-repeat;
        background-size:100%;
        transition: opacity 0.3s ease-in-out;
        opacity:1;
       
        @include mq(tablet-small, max) {
            grid-column: 1 / span 2 ;
            grid-row: 4 / 5;
        }
    }

    article:nth-child(4):hover {
        opacity: 0.7;
      
       
    }

    article {
    
        background-size:cover;
    }
}

/* CUSTOMERS SECTION */


.customers {
    background: rgb(251, 248, 251);
    text-align: center;
    padding:4rem 10rem 6rem 10rem;
   
   
    h2 {
        margin-bottom:5rem;
        font-weight:700;
    }

  

    article {
        background:#FFF;
        border:1px solid rgb(240, 240, 240);
        border-radius:0.3rem;
        padding:0 1.5rem 0 1.5rem;
        margin-top:3rem;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.15)
    }

    img {
        border-radius:50%;
        border:0.5rem solid rgb(251, 248, 251);
        position:relative;
        bottom:3rem;
        width:45%;
    }

  
}

.happy-customers {
    display:grid;
    grid-template-columns: repeat(4,20rem);
    grid-gap:2rem;
    justify-content: center;

    @include mq(desktop, max) { 
        grid-template-columns: repeat(4,15rem);
    }

    @include mq(tablet-wide, max) { 
        grid-template-columns: repeat(2,20rem);
    }

    @include mq(tablet, max) { 
        grid-template-columns: repeat(2,16rem);
    }

    @include mq(phone-wide, max) { 
        grid-template-columns: repeat(1,20rem);
    }

}

.testimonial {
    margin:-2rem;
    padding:0 2rem;

    h6 {
        font-weight:bold;
        font-size:1.2rem;
        padding-bottom:3rem;
    }

    p {
        color: rgb(95, 95, 95);
    }
}



/* PERKS SECTION */

.perks {
    background: rgb(179, 1, 106);
    color:#FFF;
    display:flex;
    flex-wrap:wrap;
    
    justify-content: space-evenly;
    padding:4.5rem 5rem;
    
    align-items: center;
    

    article {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:1rem;

   
    }
}

.numbers {
    font-weight:bold;
    font-size:2.2rem;
    padding-top:1rem;
}


/* NEWS SECTION */


.news {
    text-align: center;
    color: rgb(95, 95, 95);
    padding:7rem 12rem;


    @include mq ( desktop-wide, max) {
        padding:7rem 8rem;
    }
    @include mq ( desktop, max) {
        padding:7rem 2rem;
    }
  
    background:rgb(251, 248, 251);

    h2 {
        font-weight:700;
        @extend %reset;
        padding-bottom:1.5rem;
    }

}

.recent-news {
    display:flex;
    justify-content: space-between;
    padding-top:7rem;
    text-align:left;
    
    @include mq ( tablet-wide, max) {
       flex-direction: column;
       align-items: center;
    }
    

    article {
        display:flex;
        background:#FFF;
        align-items: flex-start;
        border-radius:0.2rem;
        box-shadow:1px 1px 2px rgba(0,0,0,0.15);
        margin-bottom:5.5rem;
        
        @include mq(tablet-wide,max) {

            &:nth-child(1),
            &:nth-child(2){
                margin:3rem;
            }

        }

        @include mq(tablet,max) {

            display:block;
        }

        img {
            width:auto;
            height:100%;

            @include mq(tablet,max) {

                width:100%;
                height:auto;
            }
        }
        
        a {
            display:block;
            text-decoration: none;
            color:rgb(232, 4, 139);
            font-size:1.5rem;
            font-weight:bold;
        }

        &:nth-child(1){
            margin-right:3rem;
        }
        &:nth-child(2){
            margin-left:3rem;
        }
    }



    .info {
        padding:4rem 5rem 5rem 1rem;

        @include mq(tablet,max) {
            padding:4rem 5rem 5rem 2rem;
        }
    }
}


/* PRICE SECTION */

.price-table {

    background: linear-gradient(rgba(black, 0.8), rgba(black, 0.8)), url("../images/background3.jpg");
    background-size: cover;
    color:#FFF;
    text-align: center;
    padding:5rem 10rem;
    padding-bottom:7rem;

    @include mq(tablet-small,max) {
        padding:5rem 7rem;
    }

    @include mq(phablet,max) {
        padding:5rem 5rem;
    }
 
    @include mq(phone,max) {
        padding:5rem 2rem;
    }
 
  

    article {

        border-radius:0.3rem;

        @include mq (tablet-wide, max) {
            padding-bottom:3rem;
        }
        a {
            margin-top:2rem;
            
        }
    }

    article:nth-child(2) {
        .list {
            background:rgb(232, 4, 139);
            color: #FFF;

            li:nth-child(2) {
                color:#FFF;
            }
        }

        .button2 {
            background:#FFF;
            border-color:#FFF;
            color:rgb(232, 4, 139);
            transition:color 0.3s ease-in-out,background 0.3s ease-in-out;

            &:hover {
                background:transparent;
                color:#FFF;
            }
        }
    }

    h2 {
        color:#FFF;
        font-weight: 700;
        @extend %reset;
        padding-bottom:1.5rem;
    }

    li {
        list-style:none; 
    }


    /* STYLE EFFECTS */

    li:nth-child(1) {
        font-weight:bold;
        text-transform: uppercase;
        padding:0;
    }

    li:nth-child(2) {
        font-size:3rem;
        color:rgb(232, 4, 139);
        font-weight:700;
        padding:0;
        padding-bottom:1rem;
    }

    /* STYLE EFFECTS */
}

.table {
    display:grid;
    grid-template-columns: repeat(4, 19rem);
    justify-content: center;
    text-align: center;
    margin-top:6rem;
    grid-column-gap: 2rem;

    @include mq(desktop, max) {
        grid-template-columns: repeat(4, 16rem);
    }

    @include mq(tablet-wide, max) {
        grid-template-columns: repeat(2, 16rem);
    }

    
    @include mq(phablet,max) {
        grid-template-columns: repeat(1, 19rem);
    }
 
    
    
}

.list {
    background:#FFF;
    color: rgb(95, 95, 95);
    padding:3.5rem 3rem;
    border-radius:0.3rem;
    margin-bottom:3rem;
}