/* ABOUT SECTION */

.about-us {
    display: flex;
    justify-content: center;
    background: rgb(251, 248, 251);
    padding: 4rem 11rem;

    @include mq(desktop,max) {
        padding:4rem 5rem;
    }

    @include mq(Screen3,max) {
        padding:4rem 1rem;
    }

    @include mq(tablet-wide,max) {
        display:block;
        padding: 4rem 4rem;
    }

    @include mq(phone,max) { 
        padding:4rem 1rem;
     }
    h2 {
        font-weight: 700;

        @extend %reset;

        padding-bottom: 2rem;
    }
}

.text-side,
.img-side {
    flex-basis: 50%;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
}

.text-side {
    padding: 2rem 2rem;
    color: rgb(95, 95, 95);

    p {
        padding-bottom: 5rem;
    }
}

.img-side {
    display: grid;
    grid-template-columns: 19rem 19rem;
    grid-gap: 2rem;
    padding-top: 4rem;

    @include mq(tablet,max) { 

        grid-template-columns:15rem 15rem;
      
    }

    @include mq(phone,max) { 

        grid-template-columns:15rem;
      
    }

    img {
        width: 100%;
        height: auto;
    }
}

/* SPECIAL OFFER SECTION */

.special {
    background: linear-gradient(rgba(black, 0.8), rgba(black, 0.8)), url("../images/background1.jpg");
    padding-top: 27rem;
    background-position: 80% 40%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    div {
        @extend %position;

        color: #FFF;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    p {
        font-size: 2.2rem;
        font-weight: bold;

        @include mq ( tablet ,max) {
            font-size:1rem;
            padding:0 1.2rem;
            text-align: center;
        }

        &:nth-child(1) span {
            font-weight: 700;
            font-size: 3.5rem;
        }

        &:nth-child(2) span {
            font-size: 1.7rem;
            font-weight: normal;
        }

        &:nth-child(2) span:nth-child(2) {
            font-size: 1.2rem;
        }
    }

    a {
        margin-top: 1.8rem;
    }
}


/* GALLERY SECTION */

.gallery-index {
    text-align: center;
    padding: 0 10rem;
    padding-bottom: 5rem;
    color: rgb(95, 95, 95);

    @include mq(tablet, max) {
        padding: 0 5rem;
    }
 
    @include mq(phone, max) {
        padding: 0 2rem;
    }
 

    h2 {
        @extend %reset;

        margin-top: 4rem;
        padding: 2rem 0;
        font-weight: 700;
    }
}

.img-gallery {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 19.5rem);
    grid-template-rows: repeat(2, 19.5rem);
    grid-gap: 2rem;
    justify-content: center;

    @include mq(desktop, max) {
        grid-template-columns: repeat(4, 15.5rem);
        grid-template-rows: repeat(2, 15.5rem);
    }

    @include mq(tablet-wide, max) {
        grid-template-columns: repeat(4, 10.5rem);
        grid-template-rows: repeat(2, 10.5rem);
    }

    @include mq(tablet, max) {
        grid-template-columns: repeat(4, 8.5rem);
        grid-template-rows: repeat(2, 8.5rem);
        padding-bottom:5rem;
    }
    @include mq(tablet-small, max) {
        grid-template-columns: repeat(2, 8.5rem);
        grid-template-rows: repeat(4, 8.5rem);
    }

    article:nth-child(1) {
        grid-column: 1 / span 2;
        grid-row: 1 /span 2;
        background: url("../images/gallery1.jpg") no-repeat;
        background-size: cover;
        transition: opacity 0.3s ease-in-out;
        opacity:1;
      
        @include mq(tablet, max) {
          background-position: 20% 20%;
        }
    
    
    }

    article:nth-child(1):hover {
        opacity: 0.7;
        
    }

    article:nth-child(2) {
        grid-column: 3 /4;
        background: url("../images/gallery2.jpg") no-repeat;
        background-size: cover;
        transition: opacity 0.3s ease-in-out;
        opacity:1;

        @include mq(tablet-small, max) {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
    
        
    }

    article:nth-child(2):hover {
        opacity: 0.7;
 
    }

    article:nth-child(3) {
        grid-column: 4 /5;
        background: url("../images/gallery3.jpg") no-repeat;
        background-size: cover;
        transition: opacity 0.3s ease-in-out;
        opacity:1;

        @include mq(tablet-small, max) {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
        }
       
    }

    article:nth-child(3):hover {
        opacity: 0.7;
     
    }

    article:nth-child(4) {
        grid-column: 3 / span 2;
        grid-row-start: 2;
        background: url("../images/gallery4.jpg") no-repeat;
        background-size:100%;
        transition: opacity 0.3s ease-in-out;
        opacity:1;
       
        @include mq(tablet-small, max) {
            grid-column: 1 / span 2 ;
            grid-row: 4 / 5;
        }
    }

    article:nth-child(4):hover {
        opacity: 0.7;
      
       
    }

    article {
    
        background-size:cover;
    }
}

/* CUSTOMERS SECTION */


.customers {
    background: rgb(251, 248, 251);
    text-align: center;
    padding:4rem 10rem 6rem 10rem;
   
   
    h2 {
        margin-bottom:5rem;
        font-weight:700;
    }

  

    article {
        background:#FFF;
        border:1px solid rgb(240, 240, 240);
        border-radius:0.3rem;
        padding:0 1.5rem 0 1.5rem;
        margin-top:3rem;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.15)
    }

    img {
        border-radius:50%;
        border:0.5rem solid rgb(251, 248, 251);
        position:relative;
        bottom:3rem;
        width:45%;
    }

  
}

.happy-customers {
    display:grid;
    grid-template-columns: repeat(4,20rem);
    grid-gap:2rem;
    justify-content: center;

    @include mq(desktop, max) { 
        grid-template-columns: repeat(4,15rem);
    }

    @include mq(tablet-wide, max) { 
        grid-template-columns: repeat(2,20rem);
    }

    @include mq(tablet, max) { 
        grid-template-columns: repeat(2,16rem);
    }

    @include mq(phone-wide, max) { 
        grid-template-columns: repeat(1,20rem);
    }

}

.testimonial {
    margin:-2rem;
    padding:0 2rem;

    h6 {
        font-weight:bold;
        font-size:1.2rem;
        padding-bottom:3rem;
    }

    p {
        color: rgb(95, 95, 95);
    }
}
  


.table {
    display:grid;
    grid-template-columns: repeat(4, 19rem);
    justify-content: center;
    text-align: center;
    margin-top:6rem;
    grid-column-gap: 2rem;

    @include mq(desktop, max) {
        grid-template-columns: repeat(4, 16rem);
    }

    @include mq(tablet-wide, max) {
        grid-template-columns: repeat(2, 16rem);
    }

    
    @include mq(phablet,max) {
        grid-template-columns: repeat(1, 19rem);
    }
 
    
    
}

.list {
    background:#FFF;
    color: rgb(95, 95, 95);
    padding:3.5rem 3rem;
    border-radius:0.3rem;
    margin-bottom:3rem;
}

/* NEWS SECTION */


.news {
    text-align: center;
    color: rgb(95, 95, 95);
    padding:7rem 12rem;


    @include mq ( desktop-wide, max) {
        padding:7rem 8rem;
    }
    @include mq ( desktop, max) {
        padding:7rem 2rem;
    }
  
    background:rgb(251, 248, 251);

    h2 {
        font-weight:700;
        @extend %reset;
        padding-bottom:1.5rem;
    }

}



/*BLOG PAGE */
body.blog .news {
    background:rgb(253, 252, 253);
}
body.blog .recent-news{
    grid-template-columns: repeat(2, 40rem);
    grid-template-rows: repeat(3, 22rem);

    @include mq ( Screen3, max) {
        grid-template-columns: repeat(2, 35rem);
        grid-template-rows: repeat(1, 20rem);
     }


    @include mq ( tablet-wide, max) {
       flex-direction: column;
       align-items: center;
    }
    
    @include mq ( tablet-wide, max) {
       display:flex;
     }


}

.recent-news {
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(2, 40rem);
    grid-template-rows: repeat(1, 22rem);
    padding-top:7rem;
    text-align:left;
    grid-column-gap:1rem;
   
   
    
    @include mq ( Screen3, max) {
        grid-template-columns: repeat(2, 35rem);
        grid-template-rows: repeat(1, 20rem);
     }


    @include mq ( tablet-wide, max) {
       flex-direction: column;
       align-items: center;
    }
    
    @include mq ( tablet-wide, max) {
       display:flex;
     }

  
    article {
        display:flex;
        background:#FFF;
        align-items: flex-start;
        border-radius:0.2rem;
        box-shadow:1px 1px 2px rgba(0,0,0,0.15);
        margin-bottom:5.5rem;

        overflow: hidden;
        
        @include mq(tablet-wide,max) {
         
                margin:3rem;
            

        }

        @include mq(tablet,max) {

            display:block;
        }

        img {
            width:auto;
            height:100%;

            @include mq(tablet,max) {

                width:100%;
                height:auto;
            }
        }
        
        a {
            display:block;
            text-decoration: none;
            color:rgb(232, 4, 139);
            font-size:1.3rem;
            font-weight:bold;
        }

        &:nth-child(odd){
            margin-right:3rem;
        }
        &:nth-child(even){
            margin-left:3rem;
        }
    }



    .info {
        padding:4rem 2rem 5rem 1rem;
      

            
    @include mq ( Screen3, max) {
        padding:2rem 5rem 1rem 1rem;
     }

     
     @include mq(tablet-wide,max) {
        padding:4rem 5rem 5rem 1rem;
    }

        @include mq(tablet,max) {
            padding:4rem 5rem 5rem 2rem;
        }
    }
}
