body.home .navigation {
    margin-top:-42.5rem;
    background: rgba(black , 0.5);
    transition:background 0.2s ease-in,box-shadow 0.2s ease-in;
    display:flex;
    justify-content: space-between;
    padding:0 13rem;
    flex-wrap:wrap;

    @include mq( desktop-wide, min) {

   
    }
    @include mq( desktop, max) {
        padding:0 5rem;
    }

    @include mq( tablet-wide, max) {

        padding:0 1rem;
    }
}


.navigation {
    margin-top:-24.5rem;
    background: rgba(black , 0.5);
    transition:background 0.2s ease-in,box-shadow 0.2s ease-in;
    display:flex;
    justify-content: space-between;
    padding:0 13rem;
    flex-wrap:wrap;

    @include mq( desktop, max) {
        padding:0 5rem;
    }

    @include mq( tablet-wide, max) {

        padding:0 1rem;
    }
}



/* Navigation li underline */
body.home .nav-main {
    li {
        &:nth-child(1) a:after {
            opacity:1;
        }
    }
}
body.about .nav-main {
    li {
        &:nth-child(2) a:after {
            opacity:1;
        }
    }
}
body.services .nav-main {
    li {
        &:nth-child(3) a:after {
            opacity:1;
        }
    }
}

body.gallery .nav-main {
    li {
        &:nth-child(4) a:after {
            opacity:1;
        }
    }
}
body.blog .nav-main {
    li {
        &:nth-child(5) a:after {
            opacity:1;
        }
    }
}

body.contact .nav-main {
    li {
        &:nth-child(6) a:after {
            opacity:1;
        }
    }
}




.nav-main {

    display:none;
    


    ul {
        display:flex;
        align-items: center;
        margin-top:0.5rem;
    }

    li {
        list-style: none outside;
       
        padding:0 2rem;
 
    }


    a {
        text-decoration: none;
        text-transform: uppercase;
        color:#FFF;
       
     
        

        &:after{
            @extend %pseudo;
            height:0.18rem;
            background:rgba(155, 144, 139, 0.9);
            width:1.8rem;
            margin:0 auto;
            border-radius:0.2rem;
            margin-top:0.5rem;
            opacity:0;
        }
        
        &:hover:after{
          opacity:1;
        }
    }
}

#nav-main-toggle {
    display: none;
}

.nav-toggle {
    font-size: 2rem;
    padding: 0 0.5rem;
    position: absolute;
    top:2.2rem; right:2rem;
    

    span {
        display: none;

        /* display: inline-block; */
    }

    &:before {
        content: '\f0c9';
        color: #FFF;
        animation:navtogglein 0.3s ease-in-out forwards;
    }
}


/* RESPONSIVE */
//     R   *RESPONSIVE*
//     E   *RESPONSIVE*
//     S   *RESPONSIVE*
//     P   *RESPONSIVE*
//     O   *RESPONSIVE*
//     N   *RESPONSIVE*
//     S   *RESPONSIVE*
//     I   *RESPONSIVE*
//     V   *RESPONSIVE*
//     E   *RESPONSIVE*

@media screen and (min-width: 880px) {
    .nav-toggle {
        display: none;
    }

    .nav-main {
        display: flex;
    }
}


@media screen and (max-width: 879px) {
    #nav-main-toggle:checked + .site-header {

        .nav-toggle:before {
            content: '\f00d';
            animation: jump 0.1s 1 ease-in-out forwards;
        }


        .navigation {
            display:block;
            background: rgba(black , 1);
            box-shadow:0 0 1rem 2rem black;
            transition: display 0.3s ease;
            
            
        }
        .nav-main {

            display:block;
            text-align: center;
           

            ul {
                display:block;
                padding-top:1rem;
            }

          li {
            
            padding-top:1.5rem;
            padding-bottom: 1.2rem;
            animation: navitemin 0.3s 1 ease-in both;
            transform: scale(0.1) translate(0, 3rem);
            opacity: 0;
          }
        }

        @for $i from 1 through 6 {
            li:nth-child(#{$i}) {
                animation-delay: $i * 0.10s;
            }
        }
    }
}