$breakpoints: (
    "phone": 400px,
    "phone-wide": 480px,
    "phablet": 560px,
    "tablet-small": 640px,
    "tablet": 768px,
    "Screen1":880px,
    "Screen2":973px,
    "tablet-wide": 1024px,
    "Screen3": 1137px,
    "desktop": 1261px,
    "desktop-wide": 1440px,
    "Screen4":1800px,
    "Screen4K": 2560px
);

@mixin mq($width ,$type: min) {
    @if map_has_key($breakpoints ,$width){

        $width: map_get($breakpoints , $width);

        @if $type == max {
            $width: $width - 1px;
        }
    }

    $parent: &;
    @media only screen and (#{$type}-width: $width) {
        @at-root #{$parent} {
            @content;
        }
    }
}