.site-footer {
    background: rgb(251, 248, 251);
    text-align: center;
    padding:3.3rem 0;
}

.social {
    padding-bottom:0.5rem;
    i{
        font-size:1.6rem;
        color:rgb(232, 4, 139);
        margin:0 0.7rem;
        
    }
}