body.home .site-header {
    background: url("../images/Beauty-Courses.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 43.5rem;
    background-position: 55% 25%;
    background-position-y: 55%;
}

.site-header {
    background: url("../images/Beauty-Courses.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 25.5rem;
    background-position: 55% 25%;
    background-position-y: 55%;
}

.site-branding {
    display: flex;
    align-self: stretch;
    position:relative;
    top:-1rem;
    margin-bottom:-1rem;
 
    img {
        background: white;
        padding:1rem 1.5rem;
        width:auto;
        height:100%;
        
        @include mq (desktop-wide, min) {
           margin-right:10rem;
        }        

      
    }
}

