---
layout: site
---

{% include location.html %}

<section class="about-us">
    <div class="text-side">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
            suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
            vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
            accumsan et iusto odio dignissim qui blandit praesen</p>
        <a href="#" class="button2">Read More</a>
    </div>
    <div class="img-side">
        <img src="{{ site.baseurl }}/images/about1.jpg" alt="">
        <img src="{{ site.baseurl }}/images/about2.jpg" alt="">
    </div>
</section>

<section class="special">
    <div>
        <!-- SERVICES SECTION -->
        
        <p> <span>Our</span> Special <span>Offer</span></p>

        <p><span>NEW CLIENT OFFER </span>$15 OFF <span>( total services on your first visit )</span></p>

        <a href="#" class="button2">MAKE AN APPOINTMENT</a>
    </div>
</section>

<!-- SERVICES SECTION -->
{% include services.html %}
<!-- STAFF SECTION -->
{% include staff.html %}

<section class="gallery">
    <h2>Awesome gallery</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
        suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
    <div class="img-gallery">
        <article></article>
        <article></article>
        <article></article>
        <article></article>
    </div>
</section>
<section class="customers">
    <h2>Happy customers</h2>
    <div class="happy-customers">
        <article>
            <img src="{{ site.baseurl }}/images/client1.jpg" alt="">
            <div class="testimonial">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
                <h6>AILEEN DOE</h6>
            </div>
        </article>
        <article>
            <img src="{{ site.baseurl }}/images/client2.jpg" alt="">
            <div class="testimonial">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
                <h6>BECKY DOE</h6>
            </div>
        </article>
        <article>
            <img src="{{ site.baseurl }}/images/client3.jpg" alt="">
            <div class="testimonial">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
                <h6>CARISSA DOE</h6>
            </div>
        </article>
        <article>
            <img src="{{ site.baseurl }}/images/client4.jpg" alt="">
            <div class="testimonial">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
                <h6>CHERISH DOE</h6>
            </div>
        </article>
    </div>
</section>
<!-- PERKS SECTION -->
{% include perks.html %}
<!-- NEWS SECTION -->
<section class="news">
    <h2>Recent news</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
        suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

    <div class="recent-news">
        <article>
            <img src="{{ site.baseurl }}/images/news 1.jpg" alt="">
            <div class="info">
                <p class="date">April 13, 2016</p>
                <a href="#"> GET 20% OFF YOUR FIRST VISIT</a>
            </div>
        </article>
        <article>
            <img src="{{ site.baseurl }}/images/news 2.jpg" alt="">
            <div class="info">
                <p class="date">April 13, 2016</p>
                <a href="#"> GET 20% OFF YOUR FIRST VISIT</a>
            </div>
        </article>
    </div>

    <a href="#" class="news-button">Read more</a>
</section>

 <!-- PRICE TABLE SECTION -->
 {% include price-table.html %}