<section class="location">
    <article>
        <img src="{{ site.baseurl }}/images/icons/header - phone.png" alt="">
        <div>
            <span>1-811-234-5678</span>
            <span>info@mail.com</span>
        </div>
    </article>
    <article>
        <img src="{{ site.baseurl }}/images/icons/header - location.png" alt="">
        <div>
            <span>199 Park Ave, San Jose, CA </span>
            <span>95110, United States</span>
        </div>
    </article>
    <article>
        <img src="{{ site.baseurl }}/images/icons/header - time.png" alt="">
        <div>
            <span>Mon - Sat 9.00 - 18.30</span>
            <span>Sunday Closed</span>
        </div>
    </article>

    <a href="#" class="button">Contact Us</a>
</section>