<section class="perks">
    <article>
        <img src="{{ site.baseurl }}/images/icons/happy client.png" alt="">
        <p class="numbers">9,996</p>
        <p>Happy Clients</p>
    </article>
    <article>
        <img src="{{ site.baseurl }}/images/icons/award winning.png" alt="">
        <p class="numbers">845</p>
        <p>Awards Winning</p>
    </article>
    <article>
        <img src="{{ site.baseurl }}/images/icons/year of experiences.png" alt="">
        <p class="numbers">30</p>
        <p>Year of Experiences</p>
    </article>
    <article>
        <img src="{{ site.baseurl }}/images/icons/awsome haircuts.png" alt="">
        <p class="numbers">450</p>
        <p>Awesome Haircuts</p>
    </article>
</section>