<section class="price-table">
    <h2>Price table</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
        suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
    <div class="table">
        <article>
            <div class="list">
                <ul>
                    <li>Special offer</li>
                    <li>$19</li>
                    <li>Massaging shampoo</li>
                    <li>Cut and style</li>
                    <li>Neck massage</li>
                    <li>Nail treatments</li>
                    <li>Hair color</li>
                </ul>
            </div>

            <a href="#" class="button2">Buy Now</a>
        </article>
        <article>
            <div class="list">
                <ul>
                    <li>Special offer</li>
                    <li>$29</li>
                    <li>Massaging shampoo</li>
                    <li>Cut and style</li>
                    <li>Neck massage</li>
                    <li>Nail treatments</li>
                    <li>Hair color</li>
                </ul>
            </div>

            <a href="#" class="button2">Buy Now</a>
        </article>
        <article>
            <div class="list">
                <ul>
                    <li>Special offer</li>
                    <li>$59</li>
                    <li>Massaging shampoo</li>
                    <li>Cut and style</li>
                    <li>Neck massage</li>
                    <li>Nail treatments</li>
                    <li>Hair color</li>
                </ul>
            </div>

            <a href="#" class="button2">Buy Now</a>
        </article>
        <article>
            <div class="list">
                <ul>
                    <li>Special offer</li>
                    <li>$99</li>
                    <li>Massaging shampoo</li>
                    <li>Cut and style</li>
                    <li>Neck massage</li>
                    <li>Nail treatments</li>
                    <li>Hair color</li>
                </ul>
            </div>

            <a href="#" class="button2">Buy Now</a>
        </article>
    </div>

</section>