<section class="services">
    <h2>OUR SERVICES</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
        suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

    <div class="services-by">
        <article>
            <img src="{{ site.baseurl }}/images/hair.jpg" alt="">
            <h4>Hair cut</h4>
            <p>vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui</p>
        </article>
        <article>
            <img src="{{ site.baseurl }}/images/hair color.jpg" alt="">
            <h4>Hair color</h4>
            <p>vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui</p>
        </article>
        <article>
            <img src="{{ site.baseurl }}/images/nail treatment.jpg" alt="">
            <h4>Nail treatments</h4>
            <p>vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui</p>
        </article>
        <article>
            <img src="{{ site.baseurl }}/images/makeup.jpg" alt="">
            <h4>Make Up</h4>
            <p>vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui</p>
        </article>
        <article>
            <img src="{{ site.baseurl }}/images/hair care.jpg" alt="">
            <h4>Hair care</h4>
            <p>vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui</p>
        </article>
        <article>
            <img src="{{ site.baseurl }}/images/waxing.jpg" alt="">
            <h4>waxing</h4>
            <p>vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui</p>
        </article>
    </div>

    <div class="service-buttons">
        <a href="#" class="button2">Download catalog</a>
        <a href="#" class="button">View all</a>
    </div>
</section>