<section class="staff">
    <div class="heading">
        <h2>OUR STAFF</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
            suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="members">
        <article>
            <img src="{{ site.baseurl }}/images/team1.jpg" alt="">
            <div>
                <h4>JESSICA DOE</h4>
                <p class="job">Hairdresser</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
            </div>
        </article>
        <article>
            <img src="{{ site.baseurl }}/images/team2.jpg" alt="">
            <div>
                <h4>Anna DOE</h4>
                <p class="job">Hairdresser</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
            </div>
        </article>
        <article>
            <img src="{{ site.baseurl }}/images/team3.jpg" alt="">
            <div>
                <h4>EvieDOE</h4>
                <p class="job">Hairdresser</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
            </div>
        </article>
        <article>
            <img src="{{ site.baseurl }}/images/team4.jpg" alt="">
            <div>
                <h4>Molly DOE</h4>
                <p class="job">Hairdresser</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
            </div>
        </article>

    </div>
</section>