#u1721
{
	background-color: #000000;
	filter: alpha(opacity=50);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	opacity: 0.5;
}

.MenuItem
{
	cursor: pointer;
}

#u1765
{
	background-color: #FFFFFF;
}

#u1766
{
	background-color: transparent;
}

#u2592,#u2596,#u2601,#u2606,#u2611
{
	color: #E8048B;
	text-align: center;
	border-color: transparent;
	border-width: 0px;
	line-height: 29px;
	background-color: transparent;
	font-size: 24px;
}

#u2589-4
{
	color: #111111;
	text-align: center;
	font-family: karla, sans-serif;
	font-size: 14px;
	font-weight: 400;
	background-color: transparent;
}

@media (min-width: 993px)
{
	#menuu1722
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u1744,#u1745
	{
		background-color: transparent;
	}

	#u1745:hover
	{
		background: transparent url("../images/underline-u1745-r-fr.png") no-repeat center bottom;
	}

	#u1747-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 0px;
		color: #FFFFFF;
		text-align: center;
		font-family: karla, sans-serif;
		font-weight: 400;
	}

	#u1723,#u1724
	{
		background-color: transparent;
	}

	#u1745.MuseMenuActive,#u1724:hover
	{
		background: transparent url("../images/underline-u1745-r-fr.png") no-repeat center bottom;
	}

	#u1727-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		font-size: 15px;
		text-align: center;
		line-height: 18px;
		font-family: karla, sans-serif;
		font-weight: 400;
	}

	#u1737,#u1738
	{
		background-color: transparent;
	}

	#u1724.MuseMenuActive,#u1738:hover
	{
		background: transparent url("../images/underline-u1745-r-fr.png") no-repeat center bottom;
	}

	#u1740-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		font-size: 15px;
		text-align: center;
		line-height: 18px;
		font-family: karla, sans-serif;
		font-weight: 400;
	}

	#u1730,#u1731
	{
		background-color: transparent;
	}

	#u1738.MuseMenuActive,#u1731:hover
	{
		background: transparent url("../images/underline-u1745-r-fr.png") no-repeat center bottom;
	}

	#u1733-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		font-size: 15px;
		text-align: center;
		line-height: 18px;
		font-family: karla, sans-serif;
		font-weight: 400;
	}

	#u1758,#u1759
	{
		background-color: transparent;
	}

	#u1731.MuseMenuActive,#u1759:hover
	{
		background: transparent url("../images/underline-u1745-r-fr.png") no-repeat center bottom;
	}

	#u1760-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		font-size: 15px;
		text-align: center;
		line-height: 18px;
		font-family: karla, sans-serif;
		font-weight: 400;
	}

	#u1751,#u1752
	{
		background-color: transparent;
	}

	#u1759.MuseMenuActive,#u1752:hover
	{
		background: transparent url("../images/underline-u1745-r-fr.png") no-repeat center bottom;
	}

	#u1752.MuseMenuActive
	{
		background: transparent url("../images/underline-u1745-r-fr.png") no-repeat center bottom;
	}

	#u1754-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		font-size: 15px;
		text-align: center;
		line-height: 18px;
		font-family: karla, sans-serif;
		font-weight: 400;
	}

}

@media (min-width: 769px) and (max-width: 992px)
{
	#accordionu3565
	{
		border-color: #7F7F7F;
		background-color: transparent;
	}

	#u3575-3
	{
		border-width: 0px;
		border-color: transparent;
		line-height: 14px;
		color: #999999;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
		background: transparent url("../images/menu%20bar1.png") no-repeat right center;
	}

	#u3575-3.AccordionPanelTabOpen
	{
		border-width: 0px;
		border-color: transparent;
		background: transparent url("../images/close1.png") no-repeat right center;
	}

	#u3575-3.AccordionPanelTabOpen p
	{
		color: #4F4F4F;
		visibility: inherit;
	}

	#u3576,#menuu4314
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u4316
	{
		border-style: solid;
		border-color: #F1F1F1;
		background-color: #FFFFFF;
		border-width: 0px 0px 1px;
	}

	#u4316:hover
	{
		border-color: #D3047F;
		background-color: #E8048B;
	}

	#u4318-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #111111;
		font-size: 15px;
		text-align: center;
		line-height: 18px;
		font-family: karla, sans-serif;
		font-weight: 400;
	}

	#u4316:hover #u4318-4 p,#u4316:hover #u4318-4 span,#u4316.MuseMenuActive #u4318-4 p,#u4316.MuseMenuActive #u4318-4 span
	{
		color: #FFFFFF;
		visibility: inherit;
		font-size: 15px;
		font-family: karla, sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	#u4413
	{
		border-style: solid;
		border-color: #F1F1F1;
		background-color: #FFFFFF;
		border-width: 0px 0px 1px;
	}

	#u4316.MuseMenuActive,#u4413:hover
	{
		border-color: #D3047F;
		background-color: #E8048B;
	}

	#u4416-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #111111;
		font-size: 15px;
		text-align: center;
		line-height: 18px;
		font-family: karla, sans-serif;
		font-weight: 400;
	}

	#u4413:hover #u4416-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
		font-size: 15px;
		font-family: karla, sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	#u4449
	{
		border-style: solid;
		border-color: #F1F1F1;
		background-color: #FFFFFF;
		border-width: 0px 0px 1px;
	}

	#u4413.MuseMenuActive,#u4449:hover
	{
		border-color: #D3047F;
		background-color: #E8048B;
	}

	#u4450-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #111111;
		font-size: 15px;
		text-align: center;
		line-height: 18px;
		font-family: karla, sans-serif;
		font-weight: 400;
	}

	#u4413.MuseMenuActive #u4416-4 p,#u4449:hover #u4450-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
		font-size: 15px;
		font-family: karla, sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	#u4482
	{
		border-style: solid;
		border-color: #F1F1F1;
		background-color: #FFFFFF;
		border-width: 0px 0px 1px;
	}

	#u4449.MuseMenuActive,#u4482:hover
	{
		border-color: #D3047F;
		background-color: #E8048B;
	}

	#u4485-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #111111;
		font-size: 15px;
		text-align: center;
		line-height: 18px;
		font-family: karla, sans-serif;
		font-weight: 400;
	}

	#u4449.MuseMenuActive #u4450-4 p,#u4482:hover #u4485-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
		font-size: 15px;
		font-family: karla, sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	#u4517
	{
		border-style: solid;
		border-color: #F1F1F1;
		background-color: #FFFFFF;
		border-width: 0px 0px 1px;
	}

	#u4482.MuseMenuActive,#u4517:hover
	{
		border-color: #D3047F;
		background-color: #E8048B;
	}

	#u4518-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #111111;
		font-size: 15px;
		text-align: center;
		line-height: 18px;
		font-family: karla, sans-serif;
		font-weight: 400;
	}

	#u4482.MuseMenuActive #u4485-4 p,#u4517:hover #u4518-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
		font-size: 15px;
		font-family: karla, sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	#u3574,#u4315,#u4410,#u4446,#u4481,#u4516,#u4551
	{
		background-color: transparent;
	}

	#u4552
	{
		border-style: solid;
		border-color: #F1F1F1;
		background-color: #FFFFFF;
		border-width: 0px 0px 1px;
	}

	#u4517.MuseMenuActive,#u4552:hover
	{
		border-color: #D3047F;
		background-color: #E8048B;
	}

	#u4552.MuseMenuActive
	{
		border-color: #D3047F;
		background-color: #E8048B;
	}

	#u4553-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #111111;
		font-size: 15px;
		text-align: center;
		line-height: 18px;
		font-family: karla, sans-serif;
		font-weight: 400;
	}

	#u4517.MuseMenuActive #u4518-4 p,#u4552:hover #u4553-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
		font-size: 15px;
		font-family: karla, sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	#u4552.MuseMenuActive #u4553-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
		font-size: 15px;
		font-family: karla, sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	.AccordionPanelTab /* accordion */
	{
		cursor: pointer;
	}

}

@media (max-width: 768px)
{
	#accordionu3565
	{
		border-color: #7F7F7F;
		background-color: transparent;
	}

	#u3575-3
	{
		border-width: 0px;
		border-color: transparent;
		line-height: 14px;
		color: #999999;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
		background: transparent url("../images/menu%20bar1.png") no-repeat right center;
	}

	#u3575-3.AccordionPanelTabOpen
	{
		border-width: 0px;
		border-color: transparent;
		background: transparent url("../images/close1.png") no-repeat right center;
	}

	#u3575-3.AccordionPanelTabOpen p
	{
		color: #4F4F4F;
		visibility: inherit;
	}

	#u3576,#menuu4314
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u4316
	{
		border-style: solid;
		border-color: #F1F1F1;
		background-color: #FFFFFF;
		border-width: 0px 0px 1px;
	}

	#u4316:hover
	{
		border-color: #D3047F;
		background-color: #E8048B;
	}

	#u4318-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #111111;
		font-size: 15px;
		text-align: center;
		line-height: 18px;
		font-family: karla, sans-serif;
		font-weight: 400;
	}

	#u4316:hover #u4318-4 p,#u4316:hover #u4318-4 span,#u4316.MuseMenuActive #u4318-4 p,#u4316.MuseMenuActive #u4318-4 span
	{
		color: #FFFFFF;
		visibility: inherit;
		font-size: 15px;
		font-family: karla, sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	#u4413
	{
		border-style: solid;
		border-color: #F1F1F1;
		background-color: #FFFFFF;
		border-width: 0px 0px 1px;
	}

	#u4316.MuseMenuActive,#u4413:hover
	{
		border-color: #D3047F;
		background-color: #E8048B;
	}

	#u4416-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #111111;
		font-size: 15px;
		text-align: center;
		line-height: 18px;
		font-family: karla, sans-serif;
		font-weight: 400;
	}

	#u4413:hover #u4416-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
		font-size: 15px;
		font-family: karla, sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	#u4449
	{
		border-style: solid;
		border-color: #F1F1F1;
		background-color: #FFFFFF;
		border-width: 0px 0px 1px;
	}

	#u4413.MuseMenuActive,#u4449:hover
	{
		border-color: #D3047F;
		background-color: #E8048B;
	}

	#u4450-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #111111;
		font-size: 15px;
		text-align: center;
		line-height: 18px;
		font-family: karla, sans-serif;
		font-weight: 400;
	}

	#u4413.MuseMenuActive #u4416-4 p,#u4449:hover #u4450-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
		font-size: 15px;
		font-family: karla, sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	#u4482
	{
		border-style: solid;
		border-color: #F1F1F1;
		background-color: #FFFFFF;
		border-width: 0px 0px 1px;
	}

	#u4449.MuseMenuActive,#u4482:hover
	{
		border-color: #D3047F;
		background-color: #E8048B;
	}

	#u4485-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #111111;
		font-size: 15px;
		text-align: center;
		line-height: 18px;
		font-family: karla, sans-serif;
		font-weight: 400;
	}

	#u4449.MuseMenuActive #u4450-4 p,#u4482:hover #u4485-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
		font-size: 15px;
		font-family: karla, sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	#u4517
	{
		border-style: solid;
		border-color: #F1F1F1;
		background-color: #FFFFFF;
		border-width: 0px 0px 1px;
	}

	#u4482.MuseMenuActive,#u4517:hover
	{
		border-color: #D3047F;
		background-color: #E8048B;
	}

	#u4518-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #111111;
		font-size: 15px;
		text-align: center;
		line-height: 18px;
		font-family: karla, sans-serif;
		font-weight: 400;
	}

	#u4482.MuseMenuActive #u4485-4 p,#u4517:hover #u4518-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
		font-size: 15px;
		font-family: karla, sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	#u3574,#u4315,#u4410,#u4446,#u4481,#u4516,#u4551
	{
		background-color: transparent;
	}

	#u4552
	{
		border-style: solid;
		border-color: #F1F1F1;
		background-color: #FFFFFF;
		border-width: 0px 0px 1px;
	}

	#u4517.MuseMenuActive,#u4552:hover
	{
		border-color: #D3047F;
		background-color: #E8048B;
	}

	#u4552.MuseMenuActive
	{
		border-color: #D3047F;
		background-color: #E8048B;
	}

	#u4553-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #111111;
		font-size: 15px;
		text-align: center;
		line-height: 18px;
		font-family: karla, sans-serif;
		font-weight: 400;
	}

	#u4517.MuseMenuActive #u4518-4 p,#u4552:hover #u4553-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
		font-size: 15px;
		font-family: karla, sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	#u4552.MuseMenuActive #u4553-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
		font-size: 15px;
		font-family: karla, sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	.AccordionPanelTab /* accordion */
	{
		cursor: pointer;
	}

}

